---
---
// External
@import 'external/reset';
@import 'external/solarized-dark';

// Base
@import 'base/variables';
@import 'base/global';
@import 'base/utility';

// Posts
@import 'layouts/posts';
@import 'layouts/index';

// Partials
@import 'includes/header';
@import 'includes/footer';

  .col2 {
    columns: 2 200px;         /* number of columns and width in pixels*/
    -webkit-columns: 2 200px; /* chrome, safari */
    -moz-columns: 2 200px;    /* firefox */
  }
  .col3 {
    columns: 3 100px;
    -webkit-columns: 3 100px;
    -moz-columns: 3 100px;
  }

  .col-all {
    display: -webkit-box;
    max-width: 435px;
  }

  .col-all-2 {
    display: -webkit-box;
    max-width: 310px;
    margin-left: -34px;
    }

  .col-info {
    margin-left: none;
    }

  .heading {
    text-align: center;
  }

  .checkbox {

    dl:nth-child(2){
      padding-top: 23px;
    }
  }
