---
---
// External
@import 'external/reset';
@import 'external/solarized-dark';

// Base
@import 'base/variables';
@import 'base/global';
@import 'base/utility';

// Posts
@import 'layouts/posts';
@import 'layouts/index';

// Partials
@import 'includes/header';
@import 'includes/footer';

html {
  font-size: 18px;
}

h1 {
  font-family: inherit;
}

h2 {
  font-family: inherit;
}

h3 {
  font-family: inherit;
}

p {
  font-family: inherit;
}

*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@media (min-width: 640px) {
    html { font-size: 1.5rem; }
}

@media (min-width: 1024px) {
    html { font-size: 1.2rem; }
}

  .col-all {
    display: -webkit-box;
    max-width: 435px;
  }

  .col-all-2 {
    display: -webkit-box;
    max-width: 310px;
    margin-left: -34px;
    }

  .col-info {
    margin-left: none;
    }

  .heading {
    text-align: center;
  }

  .checkbox {

    dl:nth-child(2){
      padding-top: 23px;
    }
  }

  .border {
    border-bottom: 1px solid black;
  }

  .blog-title {
    text-align: center;
  }

  .blog-title-one {
    text-align: center;
    margin-top: -10px;
  }

  .home-img {
    margin-left: 220px;
    margin-top: -100px;
    margin-bottom: -55px;
  }

.home {
  padding: 0 15% 0 15%;
}

  .top {
    padding: 10px;
    z-index: 100;
    text-align: center;
    color: white;
    font-weight: 100;
    h1 {
      font-size: 2.5rem;
      margin-top: 50px;
      -webkit-animation-name: bubble; /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
      animation-name: bubble;
      animation-duration: 4s;
    }
    p {
      font-size: 1.5rem;
      -webkit-animation-name: bubble; /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
      animation-name: bubble;
      animation-duration: 4s;
      -webkit-animation-delay: 4s;
      animation-delay: 4s;
    }
  }

@media screen and (min-width: 650px) {
  .top {
    h1 {
      margin-top: 30px;
      font-size: 2.5em;
    }
    p{
      font-size: 1.5em;
    }
  }
}

@media screen and (min-width: 1200px) {
  .top {
    h1 {
      margin-top: 30px;
      font-size: 3em;
    }
    p{
      font-size: 2em;
    }
  }
}

@-webkit-keyframes bubble {
  0% {transform: scale(1); opacity: 0;}
  50% {transform: scale(1.5); opacity: .5;}
  100% {transform: scale(1); opacity: 1;}
}

/* Standard syntax */
@keyframes example {
  0% {transform: scale(1); opacity: 0;}
  50% {transform: scale(1.5); opacity: .5;}
  100% {transform: scale(1); opacity: 1;}
}

.heading-one {
  padding: 10px;
  width: 1422px;
  margin-left: -284px;
  text-align: center;
}

.header-div {
  border-bottom: 1px solid rgba(1,1,1,.1);
}

 .name {

   a{
      color: white;
      font-weight: 100;
    }
  }

  .top-img {
    position: absolute;
    z-index: -100;
    left: 0;
    right: 0;
    top: 0;
  }

  .sub-header {
    color: white;
  }

  .about-me {
    margin: 0 auto;
    text-align: center;
    min-height: 750px;
  }

  @media screen and (max-width: 400px) {
    .about-me {
      p{
        font-size: .75em;
      }
    }
  }

  .first {
    color: white;
    button {
      background: coral;
      border: 2px solid coral;
      border-radius: 5px;
      padding: 6px;
      transition: .5s ease;
      &:hover {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
  }

.projects {
  //background:  #182a3d;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
}

.container:hover .overlay {
  opacity: 1;
}

.container:hover .thumb {
  opacity: .5;
}

@media screen and (min-width: 800px) {
  .projects {
    column-count: 2;
    column-gap: .5em;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .container:nth-child(4) {
    margin-bottom: 0;
  }
}

.thumb {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  &:hover {
    transform: scale(1.05);
  }
}

.overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
  }

.caption {
  border: 2px solid black;
  color: black;
  font-size: .75em;
  font-weight: 400;
  padding: 16px 32px;
  &:hover {
    opacity: 1;
  }
}

.logos {
  display: inline-flex;
  list-style: none;
}

.console-container {
  font-size:60px;
  text-align:center;
  width:650px;
  height: 150px;
  display:block;
  color:white;
  font-family: inherit;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}

.console-underscore {
  display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}

.tags {
  list-style: none;
  font-size: 12px;
  margin-top: -32px;

  li {
    float: left;
    margin-left: 10px;
    border: 1px solid;
    border-radius: 8px;
    padding: 5px;
    transition: .5s;
    &:hover {
      background-color: coral;
      transform: scale(1.2);
      color: white;
    }
  }
}

.project-btn {
  background: coral;
  border: 1px solid coral;
  padding: 10px;
  border-radius: 5px;
  transition: .5s;
  &:hover {
    transform: scale(1.2);
  }

  a {
    color: white;
    &:hover {
      color: rgba(255,255,255,.7);
      text-decoration: none;
    }
  }
}

#text {
  font-size: 2.5rem;
  margin: 0 auto;
}

.console-container {
  margin: 0 auto;
}
