// Header text feature
.call-out {
  padding: 5% 0;
  display: inline-block;
  width: 100%;
  background-size: cover;
  font-size: 1.2em;
  text-align: center;
  color: white;
  background-position:center center;
  .site-title {
    display: block;
    width: 100%;
    a {
      font-size: 0.8em;
      text-transform: uppercase;
      color: #d8d8d8;
    }
  }
  ul {
    li {
      list-style-type: none;
      display: inline-block;
      margin: 0 0.5em;
      a {
        color: white;
      }
    }
  }
  h1 {
    display:block;
    margin-bottom: -50px;
  }
  .divider {
    width: 80px;
    height: 3px;
    background-color: white;
    display: block;
    margin: 1.5em auto;
  }

  @media screen and (max-width: 700px) {
    .divider {
      height: 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .call-out {
    h1 {
      font-size: 1.5em;
      padding: 1%;
    }
  }
}

@media screen and (max-width: 1100px) {
  .call-out {
    padding: 0;
  }
}

.call-out p:last-child {
  margin-bottom: 0;
}

// Post listing
.posts {
  @extend %padding-header;
  .post-header {
    text-align: center;
  }
  .post-teaser {
    width: 46%;
    @media (max-width:768px) {
      width:100%;
    }
    margin: 0 2% 1em;
    display: block;
    background-size: $feature-image-size;
    float: left;
    &:first-child {
      padding-top:0;
    }
    p a:hover {
      @extend %link-hover;
    }
  }
  .excerpt {
    margin: 1em 0;
  }
}

// Work listing
.work {
  @extend %padding-regular;
  background-size: $feature-image-size;
  text-align: center;
  display: block;
  float: left;
  width: 100%;
  .project {
    display: block;
    float: left;
    clear:both;
    width:100%;
    margin:2em auto;
    .project-thumb {
      width: 100%;
      float: left;
      margin-bottom: 0;
      display: inline-block;
      @media (max-width: 768px) {
        width:99%;
      }
      img {
        display: block;
        text-align: center;
        margin: 0 auto 1%;
      }
    }
    .project-description {
      width: 100%;
      float: left;
      text-align: center;
      margin-bottom: 0;
      display: inline-block;
      @media (max-width: 768px) {
        width:99%;
      }
      a {
        strong {
          font-size: 1.4em;
          margin-bottom: 0.5em;
          font-weight: 600;
        }
      }
      p a:hover {
        @extend %link-hover;
      }
    }
    .excerpt {
      margin-top: 1em;
    }
  }
}
// Pagination
.pagination .button {
  margin: 0 1.5em;
  i {
    vertical-align: middle;
  }
}
.pagination {
  padding: $padding-small $padding-large 0 $padding-large;
  text-align: center;
}

.center {
  text-align: center;
}

.list-about {
  list-style: none;
  li {
    width: 33.3%;
    float: left;
    padding: 0 3%;
    img {
      transition: .5s;
      &:hover {
        transform: rotate(360deg) scale(1.2);
      }
    }
  }
  h3 {
    margin: 0 auto;
    font-size: 1em;
    color: #1e2d38;
  }
  p {
    font-size: .75em;
  }
  img {
    height: 120px;
    border: 3px solid;
    padding: 10px;
    border-radius: 50%;
  }
  &::after {
    content: '';
    display: block;
    clear: both;
  }
  a {
    color: #fe4b00;
  }
}

@media screen and (max-width: 900px) {
  .list-about {
    padding: 0 10%;
    li {
      width: 100%;
    }
  }
}

@media screen and (max-width:550px) {
  .list-about{
    img {
      height: 80px;
    }
  }
}
//-----------------------------
// title index sections
.head-title {
  color: #1e2d38;
  text-align: center;
  font-size: 2.5em;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  margin-bottom: 1%;
}

@media screen and (max-width: 360px) {
  .head-title {
    font-size: 2em;
  }
}
//-----------------------------
// divider class
.bar {
  width: 100px;
  margin: 0 auto;
  border-top: 2px solid;
  padding: 1%;
  color: #fe4b00;
}
