article,
.comments {
  float: left;
  width: 100%;
}

article {
  header {
    margin-bottom: 6%;
    text-align: center;
  }
  a:hover {
    @extend %link-hover;
  }
  .footnotes {
    font-size: 0.9em;
  }
  p {
    img {
      text-align: center;
      margin: 0 auto;
    }
  }
}
header {
  h1 {
    margin: 0;
  }
  .meta {
    color: rgba($text-color, .5);
    font-size: 0.6em;
    letter-spacing: 0.1em;
    margin: 0;
    text-transform: uppercase;
  }
}
.feature-image {
  padding: 0%;
  .post-link {
    color: $feature-image-text-color;
  }
  header {
    color: $feature-image-text-color;
    background-size: $feature-image-size;
    background-position:center center;
    margin-bottom: 0;
    padding: $padding-large/2.8 $padding-large;
    .meta {
      color: rgba($feature-image-text-color, .7);
    }
  }
  .post-content {
    @extend %padding-regular;
  }
}

.post-content {
  padding: 5% 10%;
  h2 {
    margin: 0;
  }
  form {
      input[type="text"], input[type="email"] {
        width:100%;
        display: block;
        padding:0.5em;
        margin:0 0 1em;
        border-radius:6px;
        border:1px solid #cfcfcf;
        box-shadow:none;
      }
      input[type="submit"] {
        border-radius: 0.3em;
        border: 1px solid $link-color;
        color:$link-color;
        background-color:$brand-color;
        display: inline-block;
        margin: 1em 0;
        padding: 0.5em 0.75em;
        &:hover {
          background: $link-color;
          border: 1px solid $link-color;
          color: $background-color;
          text-decoration: none;
        }
      }
      textarea {
        border-radius:6px;
        padding:0.5em;
        margin:0 0 1em;
        display: block;
        width:100%;
        border:1px solid #cfcfcf;
        box-shadow:none;
      }
    }
}

.page-content {
  padding: 0 10%;
}

@media screen and (max-width: 360px) {
  .post-content {
    h2 {
      font-size: 1.2em;
    }
  }
}

.post-header {
  padding: 0 10%;
  ul {
    list-style: none;
    font-size: 12px;
    display: inline-block;
  }
  li {
    float: left;
    margin-left: 10px;
    border: 1px solid;
    border-radius: 8px;
    padding: 5px;
    transition: .5s;
    &:hover {
      background-color: #ea5d2d;
      transform: scale(1.2);
      color: white;
    }
  }
  h3 {
    font-size: 1.5em;
  }
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

@media screen and (max-width: 420px) {
  .post-header {
    h3 {
      font-size: 1.1em;
    }
  }
}

@media screen and (max-width: 580px) {
  .post-header {
    li {
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 605px) {
  .post-header {
    ul {
      margin-bottom: -30px;
    }
  }
}

@media screen and (max-width: 650px) {
  .page-content {
    padding: 10% 5%;
  }
}

@media screen and (max-width: 400px) {
  .page-content p {
    font-size: .75em;
  }
}

@media screen and (max-width: 450px) {
  .post-content p {
    font-size: .75em;
  }
}

@media screen and (max-width: 340px) {
  .post-content h1 {
    font-size: 2em;
  }
}
